body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5e8;
    color: #000;
}
header {
    text-align: right;
    padding: 10px 20px;
    font-size: 14px;
    border-bottom: 2px solid #000;
}
header span {
    margin-left: 20px;
}
.content {
    text-align: left;
    padding: 50px 20px;
    margin-top: 200px;
    margin-bottom: 30px;
}
.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.content .portfolio-title {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
}
.content .subtext {
    margin-top: 10px;
    font-size: 1.0rem;
    line-height: 1.5;
    color: #555;
}
.content .subtext-kr {
    margin-top: 20px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #555;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 30px 0 60px;
}
/* 1page end */
.profile-container {
    display: flex;
    padding: 40px;
    align-items: flex-start;
    margin: 300px 70px;
}
.profile-container .profile-left {
    width: 30%;
    text-align: center;
}
.profile-container  .profile-left img {
    width: 80%;
    height: auto;
    border-radius: 8px;
}
.profile-container .title {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}
.profile-container .profile-right {
    width: 70%;
    padding-left: 30px;
}
.profile-right h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}
.profile-right h1 span {
    color: #3366cc;
}
.profile-right .contact {
    margin-top: 20px;
    font-size: 18px;
}
.profile-right .contact div {
    margin-bottom: 5px;
}
.profile-right .skills {
    margin-top: 30px;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}
.profile-right .skills div {
    margin-right: 15px;
    margin-bottom: 5px;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 20px 0;
}
.profile-container .licence-experience {
    display: flex;
    justify-content: space-between;
}
.profile-container .licence-experience .licence, .experience {
    width: 900%;
    font-size: 17px;
}
.profile-container .licence-experience .licence h2, .experience h2 {
    margin-bottom: 10px;
    font-size: 20px;
}
.profile-container .licence-experience .licence ul, .experience ul {
    list-style: none;
    padding: 0;
}
.profile-container .licence-experience .licence li, .experience li {
    margin-bottom: 10px;
}
.profile-container .licence-experience .skills-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
.profile-container .licence-experience .skills-icons img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
/* 2page end */
.web-grid img{
    width: 100%;
    margin: 0 0;
}
/* web portfolio end */
.container_b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container_b .banner-title h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    margin: 0 0 70px 0;
}
.container_b .banner-title p {
    font-size: 8em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    position: relative;
    top: -20px;
}
.container_b .banner-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 80%;
    max-width: 1000px;
    margin-top: 20px;
}
.container_b .banner-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.container_b .banner-item img{
    width: 100%;
    height: auto;
}
.container_b .banner-item:nth-child(1), .banner-item:nth-child(2) {
    width: calc(100% - 20px);
}
.container_b .banner-item:nth-child(3), .banner-item:nth-child(4) {
    width: calc(100% - 20px);
}
/* 6page end */
.sns-container {
    width: 100%; height: 700px;
    padding: 20px 0 20px 0;
    text-align: left;
    margin-left: 20px;
}
.sns-container h1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    margin: 0 20px 70px 0;
}
.sns-container .sns-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 210px;
}
.sns-container .sns-item {
    position: absolute;
    display: block;
    align-items: center;    
    width: 380px;
    height: 380px;
    margin: 0 50px;
}
.sns-container .sns-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.sns-container .sns-item:hover img {
    transform: scale(1.2);
}
.sns-container .sns-item:nth-child(1) {
    z-index: 1;
}
.sns-container .sns-item:nth-child(2) {
    position: absolute;
    left: 430px;
    z-index: 2;
}
.sns-container .sns-item:nth-child(3) {
    position: absolute;
    left: 850px;
    z-index: 3;
}
.sns-container .sns-item:nth-child(4) {
    position: absolute;
    left: 1270px;
    z-index: 4;
}
/* 7page end */
.container01, .container02{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* footer */
#footer{
    display: flex;
    justify-content: space-between; 
    background-color: #f5f5e8;
    margin: 100px 100px;
}
#footer img{
    display: block;
    text-align: center;
    width: 100%; height: auto;
